USE [master]
GO
/****** Object:  Database [THUVIEN]    Script Date: 10/07/2023 2:02:51 CH ******/
CREATE DATABASE [THUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THUVIEN]
GO
/****** Object:  User [Nguyễn Thái Trưởng]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [Nguyễn Thái Trưởng] FOR LOGIN [Truong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HTKN]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DG006     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [DG006     ] FOR LOGIN [Ba] WITH DEFAULT_SCHEMA=[DG006     ]
GO
/****** Object:  User [DG005     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [DG005     ] FOR LOGIN [Be] WITH DEFAULT_SCHEMA=[DG005     ]
GO
/****** Object:  User [DG004     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [DG004     ] FOR LOGIN [vana] WITH DEFAULT_SCHEMA=[DG004     ]
GO
/****** Object:  User [DG003]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [DG003] FOR LOGIN [phuc] WITH DEFAULT_SCHEMA=[DG003]
GO
/****** Object:  User [DG002]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE USER [DG002] FOR LOGIN [Phat] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [THUTHU]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE ROLE [THUTHU]
GO
/****** Object:  DatabaseRole [DOCGIA]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE ROLE [DOCGIA]
GO
ALTER ROLE [THUTHU] ADD MEMBER [Nguyễn Thái Trưởng]
GO
ALTER ROLE [db_owner] ADD MEMBER [Nguyễn Thái Trưởng]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Nguyễn Thái Trưởng]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [DOCGIA] ADD MEMBER [DG006     ]
GO
ALTER ROLE [DOCGIA] ADD MEMBER [DG005     ]
GO
ALTER ROLE [DOCGIA] ADD MEMBER [DG004     ]
GO
ALTER ROLE [DOCGIA] ADD MEMBER [DG003]
GO
ALTER ROLE [DOCGIA] ADD MEMBER [DG002]
GO
ALTER ROLE [db_owner] ADD MEMBER [THUTHU]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [THUTHU]
GO
/****** Object:  Schema [DG003]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE SCHEMA [DG003]
GO
/****** Object:  Schema [DG004     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE SCHEMA [DG004     ]
GO
/****** Object:  Schema [DG005     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE SCHEMA [DG005     ]
GO
/****** Object:  Schema [DG006     ]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE SCHEMA [DG006     ]
GO
/****** Object:  Rule [R_CHECK_NGAY_MUON]    Script Date: 10/07/2023 2:02:52 CH ******/
CREATE RULE [dbo].[R_CHECK_NGAY_MUON] 
AS
@NGAYMUON <= GETDATE()
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nchar](10) NOT NULL,
	[NAMPHATHANH] [date] NULL,
	[TENSACH] [nvarchar](50) NULL,
	[MATL] [nchar](10) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Sach]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[V_Sach]
as
select MASACH, TENSACH
from SACH
GO
/****** Object:  Table [dbo].[CUONSACH]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUONSACH](
	[IDSACH] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANG] [int] NULL,
	[IDXB] [int] NULL,
	[STT] [int] NULL,
 CONSTRAINT [PK_CUONSACH] PRIMARY KEY CLUSTERED 
(
	[IDSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_MUONSACH]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MUONSACH](
	[MADOCGIA] [nchar](10) NOT NULL,
	[IDSACH] [int] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[SONGAY] [int] NULL,
 CONSTRAINT [PK_CT_MUONSACH] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC,
	[IDSACH] ASC,
	[NGAYMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [nchar](10) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYCAP] [date] NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATBAN]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATBAN](
	[IDXB] [int] IDENTITY(1,1) NOT NULL,
	[LANXB] [int] NULL,
	[NAMXB] [date] NULL,
	[KHOGIAY] [nchar](10) NULL,
	[SOTRANG] [int] NULL,
	[NHAXB] [nvarchar](50) NULL,
	[GIA] [float] NULL,
	[DIACD] [bit] NULL,
	[MASACH] [nchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[IDXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_SACH_CHUA_TRA]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_SACH_CHUA_TRA]
AS
	SELECT CT.MADOCGIA, TEN, IDSACH, TENSACH, STT, NGAYMUON, SONGAY, LANXB FROM 
		(SELECT MADOCGIA, IDSACH, NGAYMUON, SONGAY, STT, LANXB, MASACH FROM
			(SELECT MADOCGIA, CT.IDSACH, NGAYMUON, SONGAY, STT, IDXB
			FROM
				(SELECT MADOCGIA, IDSACH, NGAYMUON, SONGAY FROM CT_MUONSACH WITH (INDEX(IX_TRA_SACH)) WHERE NGAYTRA IS NULL) CT,
				(SELECT IDSACH, IDXB, STT FROM CUONSACH) CS
			WHERE CT.IDSACH = CS.IDSACH) CT,
			(SELECT IDXB, MASACH, LANXB FROM XUATBAN) XB
		WHERE CT.IDXB = XB.IDXB) CT,
		(SELECT MASACH, TENSACH FROM SACH) S,
		(SELECT MADOCGIA, TEN FROM DOCGIA) DG
	WHERE CT.MASACH = S.MASACH AND DG.MADOCGIA = CT.MADOCGIA
GO
/****** Object:  View [dbo].[V_CT_MUON_SACH_CO_THE_MUON]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_CT_MUON_SACH_CO_THE_MUON]
AS
SELECT        IDSACH, IDXB, STT, TINHTRANG
FROM            dbo.CUONSACH AS CS  
WHERE        (NOT EXISTS
                             (SELECT        MADOCGIA, IDSACH, NGAYMUON
                               FROM            dbo.V_SACH_CHUA_TRA AS V
                               WHERE        (CS.IDSACH = IDSACH)))
GO
/****** Object:  View [dbo].[V_SACH_CO_THE_MUON]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[V_SACH_CO_THE_MUON]
AS 
	SELECT IDSACH, S.MASACH, TENSACH, LANXB, STT, 
	CASE TINHTRANG
            WHEN 1 THEN N'Mới'
            WHEN 2 THEN N'Cũ'
			WHEN 3 THEN N'Hỏng'
			WHEN 4 THEN N'Mất trang'
            ELSE N'Unknown'
        END AS TINHTRANG
	FROM V_CT_MUON_SACH_CO_THE_MUON V, SACH S, XUATBAN XB
	
	WHERE XB.IDXB = V.IDXB AND XB.MASACH = S.MASACH
GO
/****** Object:  Table [dbo].[KYXB]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYXB](
	[IDKI] [int] IDENTITY(1,1) NOT NULL,
	[LUONGNHAP] [int] NULL,
	[LUONGTON] [int] NULL,
	[MATAPCHI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table2] PRIMARY KEY CLUSTERED 
(
	[IDKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAPCHI]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAPCHI](
	[MATAPCHI] [nchar](10) NOT NULL,
	[TENTAPCHI] [nvarchar](50) NULL,
	[NAMPHATHANH] [date] NULL,
	[DINHKI] [int] NOT NULL,
	[NXB] [nvarchar](50) NULL,
	[MATL] [nchar](10) NULL,
 CONSTRAINT [PK_TAPCHI] PRIMARY KEY CLUSTERED 
(
	[MATAPCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DANH_SACH_KY_XB_TAP_CHI]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DANH_SACH_KY_XB_TAP_CHI]
AS
	SELECT IDKI, LUONGNHAP, LUONGTON, TENTAPCHI, NXB, 
		CASE DINHKI WHEN 1 THEN N'Hàng ngày' WHEN 2 THEN N'Hàng tuần' WHEN 3 THEN N'Hàng tháng' END AS DINHKI, XB.MATAPCHI
	FROM KYXB XB, TAPCHI TC
	WHERE TC.MATAPCHI = XB.MATAPCHI
GO
/****** Object:  View [dbo].[V_TAP_CHI]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TAP_CHI]
AS
	SELECT MATAPCHI, TENTAPCHI FROM TAPCHI
GO
/****** Object:  View [dbo].[V_DOC_GIA]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DOC_GIA]
AS
SELECT        MADOCGIA, TEN
FROM            dbo.DOCGIA
GO
/****** Object:  Table [dbo].[CT_MUONBAO]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MUONBAO](
	[MADOCGIA] [nchar](10) NOT NULL,
	[IDKI] [int] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[SONGAY] [int] NULL,
 CONSTRAINT [PK_CT_MUONBAO_1] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC,
	[IDKI] ASC,
	[NGAYMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TAP_CHI_CHUA_TRA]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_TAP_CHI_CHUA_TRA]
AS
	SELECT CT.MADOCGIA, TEN, TENTAPCHI, IDKI, NGAYMUON, SONGAY FROM
		(SELECT MADOCGIA, CT.IDKI, NGAYMUON, SONGAY, MATAPCHI FROM 
			(SELECT MADOCGIA, IDKI, NGAYMUON, SONGAY FROM CT_MUONBAO WITH (INDEX (IX_TRA_BAO))WHERE NGAYTRA IS NULL) CT,
			(SELECT IDKI, MATAPCHI FROM KYXB) XB
		WHERE CT.IDKI = XB.IDKI) CT,
		(SELECT MADOCGIA, TEN FROM DOCGIA) DG,
		(SELECT MATAPCHI, TENTAPCHI FROM TAPCHI) TC
	WHERE CT.MADOCGIA = DG.MADOCGIA AND TC.MATAPCHI = CT.MATAPCHI
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [nchar](10) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
	[NAMSINH] [date] NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Tac_Gia]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_Tac_Gia]
as 
	select MATG, TENTG from TACGIA
GO
/****** Object:  Table [dbo].[CT_SACH]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SACH](
	[MASACH] [nchar](10) NOT NULL,
	[MATG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CT_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEU]    Script Date: 10/07/2023 2:02:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU](
	[MaTL] [nchar](10) NOT NULL,
	[TenTL] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAILIEU] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_MUONBAO] ([MADOCGIA], [IDKI], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 2, CAST(N'2023-01-01' AS Date), CAST(N'2023-10-01' AS Date), 10)
INSERT [dbo].[CT_MUONBAO] ([MADOCGIA], [IDKI], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 3, CAST(N'2023-06-05' AS Date), CAST(N'2023-06-05' AS Date), 10)
INSERT [dbo].[CT_MUONBAO] ([MADOCGIA], [IDKI], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 4, CAST(N'2023-06-05' AS Date), CAST(N'2023-06-05' AS Date), 12)
GO
INSERT [dbo].[CT_MUONSACH] ([MADOCGIA], [IDSACH], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 1, CAST(N'2023-06-04' AS Date), CAST(N'2023-06-04' AS Date), 12)
INSERT [dbo].[CT_MUONSACH] ([MADOCGIA], [IDSACH], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 8, CAST(N'2023-06-04' AS Date), CAST(N'2023-06-04' AS Date), 12)
INSERT [dbo].[CT_MUONSACH] ([MADOCGIA], [IDSACH], [NGAYMUON], [NGAYTRA], [SONGAY]) VALUES (N'DG001     ', 9, CAST(N'2023-06-04' AS Date), CAST(N'2023-06-04' AS Date), 12)
GO
INSERT [dbo].[CT_SACH] ([MASACH], [MATG]) VALUES (N'Sach001   ', N'TG003     ')
INSERT [dbo].[CT_SACH] ([MASACH], [MATG]) VALUES (N'Sach001   ', N'TG005     ')
INSERT [dbo].[CT_SACH] ([MASACH], [MATG]) VALUES (N'Sach002   ', N'TG002     ')
GO
SET IDENTITY_INSERT [dbo].[CUONSACH] ON 

INSERT [dbo].[CUONSACH] ([IDSACH], [TINHTRANG], [IDXB], [STT]) VALUES (1, 3, 1, 1)
INSERT [dbo].[CUONSACH] ([IDSACH], [TINHTRANG], [IDXB], [STT]) VALUES (8, 2, 1, 2)
INSERT [dbo].[CUONSACH] ([IDSACH], [TINHTRANG], [IDXB], [STT]) VALUES (9, 2, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[CUONSACH] OFF
GO
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TEN], [NGAYCAP], [NGHENGHIEP], [PHAI]) VALUES (N'DG001     ', N'Nguyễn Thái Trưởng', CAST(N'2023-06-01' AS Date), N'Công nhân', 1)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TEN], [NGAYCAP], [NGHENGHIEP], [PHAI]) VALUES (N'DG002     ', N'Nguyễn Đình Phát', CAST(N'2023-06-01' AS Date), N'Sinh viên', 1)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TEN], [NGAYCAP], [NGHENGHIEP], [PHAI]) VALUES (N'DG003     ', N'Lê Văn Phúc', CAST(N'2022-05-31' AS Date), N'Nhà văn', 1)
GO
SET IDENTITY_INSERT [dbo].[KYXB] ON 

INSERT [dbo].[KYXB] ([IDKI], [LUONGNHAP], [LUONGTON], [MATAPCHI]) VALUES (2, 35, 33, N'TC001     ')
INSERT [dbo].[KYXB] ([IDKI], [LUONGNHAP], [LUONGTON], [MATAPCHI]) VALUES (3, 52, 51, N'TC001     ')
INSERT [dbo].[KYXB] ([IDKI], [LUONGNHAP], [LUONGTON], [MATAPCHI]) VALUES (4, 50, 50, N'TC002     ')
SET IDENTITY_INSERT [dbo].[KYXB] OFF
GO
INSERT [dbo].[SACH] ([MASACH], [NAMPHATHANH], [TENSACH], [MATL]) VALUES (N'Sach001   ', CAST(N'2010-12-09' AS Date), N'Tôi thấy hoa vàng trên cỏ xanh', N'SACH      ')
INSERT [dbo].[SACH] ([MASACH], [NAMPHATHANH], [TENSACH], [MATL]) VALUES (N'Sach002   ', CAST(N'1960-01-01' AS Date), N'Lưu biệt khi xuất dương', N'SACH      ')
INSERT [dbo].[SACH] ([MASACH], [NAMPHATHANH], [TENSACH], [MATL]) VALUES (N'Sach003   ', CAST(N'1938-01-01' AS Date), N'Số đỏ', N'SACH      ')
GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH]) VALUES (N'TG001     ', N'Nguyễn Khuyến', CAST(N'1835-01-01' AS Date))
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH]) VALUES (N'TG002     ', N'Phan Bội Châu', CAST(N'1867-12-26' AS Date))
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH]) VALUES (N'TG003     ', N'Xuân Diệu', CAST(N'1916-02-02' AS Date))
GO
INSERT [dbo].[TAILIEU] ([MaTL], [TenTL]) VALUES (N'SACH      ', N'Sách')
INSERT [dbo].[TAILIEU] ([MaTL], [TenTL]) VALUES (N'TAPCHI    ', N'Tạp chí')
GO
INSERT [dbo].[TAPCHI] ([MATAPCHI], [TENTAPCHI], [NAMPHATHANH], [DINHKI], [NXB], [MATL]) VALUES (N'TC001     ', N'Báo ảnh Việt Nam', CAST(N'1954-10-15' AS Date), 1, N'Thông tấn xã Việt Nam', N'TAPCHI    ')
INSERT [dbo].[TAPCHI] ([MATAPCHI], [TENTAPCHI], [NAMPHATHANH], [DINHKI], [NXB], [MATL]) VALUES (N'TC002     ', N'Tạp chí Công nghệ thông tin và Truyền thông', CAST(N'2002-01-01' AS Date), 2, N'Bộ Thông tin và Truyền thông', N'TAPCHI    ')
INSERT [dbo].[TAPCHI] ([MATAPCHI], [TENTAPCHI], [NAMPHATHANH], [DINHKI], [NXB], [MATL]) VALUES (N'TC003     ', N'Báo bưu điện Việt Nam', CAST(N'2023-05-30' AS Date), 1, N'Bộ thông tin và truyền thông', N'TAPCHI    ')
GO
SET IDENTITY_INSERT [dbo].[XUATBAN] ON 

INSERT [dbo].[XUATBAN] ([IDXB], [LANXB], [NAMXB], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [DIACD], [MASACH]) VALUES (1, 1, CAST(N'2023-01-01' AS Date), N'79x109    ', 192, N'NXB Giáo dục', 20000, 0, N'Sach009   ')
INSERT [dbo].[XUATBAN] ([IDXB], [LANXB], [NAMXB], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [DIACD], [MASACH]) VALUES (5, 1, CAST(N'2022-01-02' AS Date), N'60x84     ', 342, N'NXB Giáo dục', 20000, 1, N'Sach001   ')
INSERT [dbo].[XUATBAN] ([IDXB], [LANXB], [NAMXB], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [DIACD], [MASACH]) VALUES (6, 2, CAST(N'2023-01-01' AS Date), N'70x100    ', 23, N'NXB Giáo dục', 10000, 1, N'Sach002   ')
SET IDENTITY_INSERT [dbo].[XUATBAN] OFF
GO
/****** Object:  Index [IX_TRA_BAO]    Script Date: 10/07/2023 2:02:53 CH ******/
CREATE NONCLUSTERED INDEX [IX_TRA_BAO] ON [dbo].[CT_MUONBAO]
(
	[NGAYTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRA_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
CREATE NONCLUSTERED INDEX [IX_TRA_SACH] ON [dbo].[CT_MUONSACH]
(
	[NGAYTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUONSACH]    Script Date: 10/07/2023 2:02:53 CH ******/
CREATE NONCLUSTERED INDEX [IX_CUONSACH] ON [dbo].[CUONSACH]
(
	[IDSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_XUATBAN1]    Script Date: 10/07/2023 2:02:53 CH ******/
ALTER TABLE [dbo].[XUATBAN] ADD  CONSTRAINT [IX_XUATBAN1] UNIQUE NONCLUSTERED 
(
	[LANXB] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_MUONBAO]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUONBAO_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_MUONBAO] CHECK CONSTRAINT [FK_CT_MUONBAO_DOCGIA]
GO
ALTER TABLE [dbo].[CT_MUONBAO]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUONBAO_KYXB] FOREIGN KEY([IDKI])
REFERENCES [dbo].[KYXB] ([IDKI])
GO
ALTER TABLE [dbo].[CT_MUONBAO] CHECK CONSTRAINT [FK_CT_MUONBAO_KYXB]
GO
ALTER TABLE [dbo].[CT_MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUONSACH_CUONSACH] FOREIGN KEY([IDSACH])
REFERENCES [dbo].[CUONSACH] ([IDSACH])
GO
ALTER TABLE [dbo].[CT_MUONSACH] CHECK CONSTRAINT [FK_CT_MUONSACH_CUONSACH]
GO
ALTER TABLE [dbo].[CT_MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUONSACH_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_MUONSACH] CHECK CONSTRAINT [FK_CT_MUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[CT_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_SACH] CHECK CONSTRAINT [FK_CT_SACH_SACH]
GO
ALTER TABLE [dbo].[CT_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SACH] CHECK CONSTRAINT [FK_CT_SACH_TACGIA]
GO
ALTER TABLE [dbo].[CUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CUONSACH_XUATBAN] FOREIGN KEY([IDXB])
REFERENCES [dbo].[XUATBAN] ([IDXB])
GO
ALTER TABLE [dbo].[CUONSACH] CHECK CONSTRAINT [FK_CUONSACH_XUATBAN]
GO
ALTER TABLE [dbo].[KYXB]  WITH CHECK ADD  CONSTRAINT [FK_KYXB_TAPCHI] FOREIGN KEY([MATAPCHI])
REFERENCES [dbo].[TAPCHI] ([MATAPCHI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KYXB] CHECK CONSTRAINT [FK_KYXB_TAPCHI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TAILIEU] FOREIGN KEY([MATL])
REFERENCES [dbo].[TAILIEU] ([MaTL])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TAILIEU]
GO
ALTER TABLE [dbo].[TAPCHI]  WITH CHECK ADD  CONSTRAINT [FK_TAPCHI_TAILIEU] FOREIGN KEY([MATL])
REFERENCES [dbo].[TAILIEU] ([MaTL])
GO
ALTER TABLE [dbo].[TAPCHI] CHECK CONSTRAINT [FK_TAPCHI_TAILIEU]
GO
ALTER TABLE [dbo].[XUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_XUATBAN_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XUATBAN] CHECK CONSTRAINT [FK_XUATBAN_SACH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DOI_MAT_KHAU]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DOI_MAT_KHAU]
@lgName nvarchar(100),
@matKhauCu nvarchar(100),
@matKhauMoi nvarchar(100)
as
declare @RET int
begin
	exec @RET = sp_password @matKhauCu, @matKhauMoi, @lgName
	if @RET = 1
		begin 
			declare @Message nvarchar(255)
			select @Message = 'Tài khoản ' + @lgName + ' không hợp lệ hoặc không được cấp quyền trong database' 
			raiserror(@Message, 16, 1)
			return 1
		end
	return 0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_BAO_TAP_CHI_CO_THE_MUON]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_BAO_TAP_CHI_CO_THE_MUON]
@MADOCGIA NCHAR(10)
AS
BEGIN
	SELECT IDKI, TENTAPCHI, NXB, DINHKI FROM V_DANH_SACH_KY_XB_TAP_CHI V
	WHERE V.IDKI NOT IN(SELECT IDKI FROM CT_MUONBAO 
				WHERE MADOCGIA = @MADOCGIA and NGAYTRA is null)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CT_MUON_BAO]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CT_MUON_BAO] 
@MADOCGIA NCHAR(10),
@IDKI INT,
@NGAYMUON DATE,
@NGAYTRA DATE,
@SONGAY INT
AS
BEGIN
	INSERT INTO CT_MUONBAO(MADOCGIA, IDKI, NGAYMUON, NGAYTRA, SONGAY)
	VALUES(@MADOCGIA, @IDKI, @NGAYMUON, @NGAYTRA, @SONGAY)
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CT_MUON_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CT_MUON_SACH]
@MADOCGIA NCHAR(10),
@IDSACH INT,
@NGAYMUON DATE,
@NGAYTRA DATE,
@SONGAY INT
AS 
BEGIN
	INSERT INTO CT_MUONSACH(MADOCGIA, IDSACH, NGAYMUON, NGAYTRA, SONGAY)
	VALUES(@MADOCGIA, @IDSACH, @NGAYMUON, @NGAYTRA, @SONGAY)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_KYXB_TAPCHI]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_KYXB_TAPCHI]
@LUONGNHAP INT,
@LUONGTON INT,
@MATAPCHI NCHAR(10)
AS
	INSERT INTO KYXB(LUONGNHAP, LUONGTON, MATAPCHI)
	VALUES (@LUONGNHAP, @LUONGTON, @MATAPCHI)
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_THONG_TIN_DOC_GIA_TU_LOGIN]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_THONG_TIN_DOC_GIA_TU_LOGIN]
@TENLOGIN VARCHAR(50)
AS
DECLARE @TENUSER NVARCHAR(50)

SELECT @TENUSER = NAME FROM sys.sysusers
WHERE sid = SUSER_SID(@TENLOGIN)

SELECT USERNAME = @TENUSER,
		HOTEN = (SELECT TEN 
				FROM DOCGIA 
				WHERE MADOCGIA = @TENUSER),
		TENNHOM = NAME FROM sys.sysusers
						WHERE UID = (SELECT groupuid 
									FROM sys.sysmembers
									WHERE memberuid = (SELECT UID FROM sys.sysusers
														WHERE NAME = @TENUSER)
									)
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_THONG_TIN_THU_THU_TU_LOGIN]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_THONG_TIN_THU_THU_TU_LOGIN]
@TENLOGIN VARCHAR(50)
AS
DECLARE @TENUSER NVARCHAR(50)

SELECT @TENUSER = NAME FROM sys.sysusers
WHERE sid = SUSER_SID(@TENLOGIN)

SELECT USERNAME = @TENLOGIN,
		HOTEN = @TENUSER,
		TENNHOM = NAME FROM sys.sysusers
						WHERE UID = (SELECT groupuid 
									FROM sys.sysmembers
									WHERE memberuid = (SELECT UID FROM sys.sysusers
														WHERE NAME = @TENUSER)
									)
GO
/****** Object:  StoredProcedure [dbo].[SP_SACH_CHUA_TRA]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SACH_CHUA_TRA]
-- SP lấy số sách chưa trả của một độc giả thông qua mã
@MADOCGIA NCHAR(10)
AS 
	
	
	SELECT IDSACH, (TENSACH + N' - XB lần ' + CONVERT (NCHAR(10), LANXB)) AS TENSACH, NGAYMUON, SONGAY, 
	CASE TINHTRANG
            WHEN 1 THEN N'Mới'
            WHEN 2 THEN N'Cũ'
			WHEN 3 THEN N'Hỏng'
			WHEN 4 THEN N'Mất trang'
            ELSE N'Unknown'
			END AS TINHTRANG, STT
	FROM (SELECT MASACH, SCT.IDXB, IDSACH, NGAYMUON, SONGAY, LANXB, TINHTRANG, STT 
			FROM (
				SELECT IDXB, SACHCHUATRA.IDSACH, NGAYMUON, SACHCHUATRA.SONGAY ,TINHTRANG, STT
				FROM (
					SELECT MADOCGIA, IDSACH, NGAYMUON, SONGAY
					FROM CT_MUONSACH 
					WHERE MADOCGIA = @MADOCGIA AND NGAYTRA IS NULL) AS SACHCHUATRA, CUONSACH AS CS
				WHERE CS.IDSACH = SACHCHUATRA.IDSACH
			) AS SCT INNER JOIN XUATBAN XB
					ON SCT.IDXB = XB.IDXB) AS SACHCHUATRA INNER JOIN SACH S
	ON SACHCHUATRA.MASACH = S.MASACH
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAOLOGIN] @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @TEN NVARCHAR(100)
	IF NOT EXISTS(SELECT 1 FROM DOCGIA WHERE @USERNAME = MADOCGIA)
	BEGIN
		DECLARE @MSG NVARCHAR(255)
		SELECT @MSG = CONCAT(N'Không tồn tại độc giả với mã = [', TRIM(@USERNAME), N']. Bạn thử lại sau!')

		RAISERROR (@MSG, 16, 1)
		RETURN 1
	END
	DECLARE @RET INT
	
	EXEC @RET = sp_addlogin @LGNAME, @PASS, 'THUVIEN'
	IF (@RET = 1) -- LOGIN NAME BI TRUNG
	BEGIN
		RAISERROR ('Tên tài khoản đăng nhập đã tồn tại!', 16, 1)
		RETURN 1
	END
	EXEC @RET = sp_grantdbaccess @LGNAME, @USERNAME
	IF (@RET = 1) -- USERNAME BI TRUNG
	BEGIN
		EXEC sp_droplogin @LGNAME
		RAISERROR('Username đã tồn tại!', 16, 2)
		RETURN 2
	END
	EXEC sp_addrolemember @ROLE, @USERNAME
	
	RETURN 0 -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAP_CHI_CHUA_TRA]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAP_CHI_CHUA_TRA]
@MADOCGIA NCHAR(10)
AS
BEGIN
	SELECT TENTAPCHI, IDKI, NGAYMUON, SONGAY  
	FROM (SELECT MATAPCHI, TENTAPCHI FROM TAPCHI) TC, 
			(SELECT CT.IDKI, MATAPCHI, NGAYMUON, NGAYTRA, SONGAY
			 FROM (SELECT IDKI, NGAYMUON, NGAYTRA, SONGAY FROM CT_MUONBAO
				   WHERE MADOCGIA = @MADOCGIA AND NGAYTRA IS NULL) CT, 
				  (SELECT IDKI, MATAPCHI FROM KYXB) KYXB
			 WHERE CT.IDKI = KYXB.IDKI) SCT
	WHERE SCT.MATAPCHI = TC.MATAPCHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CUON_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_CUON_SACH]
@TINHTRANG INT, @IDXB INT 
AS
BEGIN
	INSERT INTO CUONSACH (TINHTRANG, IDXB)
	VALUES ( @TINHTRANG, @IDXB)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_SACH_BANG_IDXB]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_SACH_BANG_IDXB]
@IDXB INT
AS 
	DECLARE @MASACH NCHAR(10) 
	SELECT @MASACH = MASACH FROM XUATBAN WHERE IDXB = @IDXB
	SELECT * FROM SACH WHERE MASACH = @MASACH
GO
/****** Object:  StoredProcedure [dbo].[sp_top_docgia_sach]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_top_docgia_sach]
AS
BEGIN
	SELECT DOCGIA.MADOCGIA, TEN, COUNT(DOCGIA.MADOCGIA) AS LAN, MONTH(NGAYMUON) AS THANG, YEAR(NGAYMUON) AS NAM
	FROM (SELECT MADOCGIA, NGAYMUON FROM CT_MUONSACH) CT_MUONSACH, (SELECT MADOCGIA, TEN FROM DOCGIA) DOCGIA
	WHERE CT_MUONSACH.MADOCGIA = DOCGIA.MADOCGIA
	GROUP BY YEAR(CT_MUONSACH.NGAYMUON), MONTH(CT_MUONSACH.NGAYMUON), DOCGIA.MADOCGIA, DOCGIA.TEN
	ORDER BY YEAR(CT_MUONSACH.NGAYMUON) DESC, MONTH(CT_MUONSACH.NGAYMUON) DESC,LAN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_top_docgia_tap_chi]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_top_docgia_tap_chi]
AS
BEGIN
	SELECT CT_MUONBAO.MADOCGIA, DOCGIA.TEN, COUNT(CT_MUONBAO.MADOCGIA) AS LAN, MONTH(NGAYMUON) AS THANG, YEAR(NGAYMUON) AS NAM
	FROM (SELECT MADOCGIA, NGAYMUON FROM CT_MUONBAO) CT_MUONBAO, (SELECT MADOCGIA, TEN FROM DOCGIA) DOCGIA
	WHERE CT_MUONBAO.MADOCGIA = DOCGIA.MADOCGIA
	GROUP BY YEAR(CT_MUONBAO.NGAYMUON), MONTH(CT_MUONBAO.NGAYMUON), CT_MUONBAO.MADOCGIA, DOCGIA.TEN
	ORDER BY YEAR(CT_MUONBAO.NGAYMUON) DESC, MONTH(CT_MUONBAO.NGAYMUON) DESC,LAN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_top_sach]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_top_sach]
AS
BEGIN
	SELECT SACH.MASACH, TENSACH, COUNT(SACH.MASACH) AS LAN, MONTH(NGAYMUON) AS THANG, YEAR(NGAYMUON) AS NAM
	FROM (SELECT IDSACH, NGAYMUON FROM CT_MUONSACH) CT_MUONSACH, (SELECT IDXB, MASACH FROM XUATBAN) XUATBAN, (SELECT MASACH, TENSACH FROM SACH) SACH, (SELECT IDSACH, IDXB FROM CUONSACH) CUONSACH
	WHERE CT_MUONSACH.IDSACH = CUONSACH.IDSACH and CUONSACH.IDXB = XUATBAN.IDXB and XUATBAN.MASACH = SACH.MASACH
	GROUP BY YEAR(CT_MUONSACH.NGAYMUON), MONTH(CT_MUONSACH.NGAYMUON), SACH.MASACH, TENSACH
	ORDER BY YEAR(CT_MUONSACH.NGAYMUON) DESC, MONTH(CT_MUONSACH.NGAYMUON) DESC,LAN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_top_tap_chi]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_top_tap_chi]
AS
BEGIN
	SELECT TAPCHI.MATAPCHI, TENTAPCHI, COUNT(TAPCHI.MATAPCHI) AS LAN, MONTH(NGAYMUON) AS THANG, YEAR(NGAYMUON) AS NAM
	FROM (SELECT IDKI, NGAYMUON FROM CT_MUONBAO) CT_MUONBAO, (SELECT IDKI, MATAPCHI FROM KYXB) KYXB, (SELECT MATAPCHI, TENTAPCHI FROM TAPCHI) TAPCHI
	WHERE CT_MUONBAO.IDKI = KYXB.IDKI and KYXB.MATAPCHI = TAPCHI.MATAPCHI
	GROUP BY YEAR(CT_MUONBAO.NGAYMUON), MONTH(CT_MUONBAO.NGAYMUON), TAPCHI.MATAPCHI, TENTAPCHI
	ORDER BY YEAR(CT_MUONBAO.NGAYMUON) DESC, MONTH(CT_MUONBAO.NGAYMUON) DESC,LAN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CUON_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_CUON_SACH]
@IDSACH INT,
@TINHTRANG INT
AS 
BEGIN
	DECLARE @IDXB INT
	DECLARE @STT INT 

	SELECT @IDXB = IDXB, @STT = STT FROM CUONSACH
	WHERE IDSACH = @IDSACH

	UPDATE CUONSACH
	SET TINHTRANG = @TINHTRANG, STT = @STT, IDXB = @IDXB
	WHERE IDSACH = @IDSACH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_KYXB_TAPCHI]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_KYXB_TAPCHI]
@IDKI INT,
@LUONGNHAP INT,
@LUONGTON INT,
@MATAPCHI NCHAR(10)
AS
	UPDATE KYXB
	SET LUONGNHAP = @LUONGNHAP, LUONGTON = @LUONGTON, MATAPCHI = @MATAPCHI
	WHERE IDKI = @IDKI
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LUONG_TON_KY_XB]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_LUONG_TON_KY_XB]
@IDKI INT
AS
BEGIN
	UPDATE KYXB 
	SET LUONGTON = LUONGTON - 1
	WHERE IDKI = @IDKI 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_NGAY_TRA_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_NGAY_TRA_SACH] 
@IDSACH INT,
@MADOCGIA NCHAR(10),
@NGAYMUON DATE,
@NGAYTRA DATE
AS 
BEGIN
	DECLARE @SONGAY INT
	SELECT @SONGAY = SONGAY, @NGAYMUON = NGAYMUON FROM CT_MUONSACH
	WHERE IDSACH = @IDSACH AND MADOCGIA = @MADOCGIA AND NGAYMUON = @NGAYMUON

	UPDATE CT_MUONSACH
	SET SONGAY = @SONGAY, 
		NGAYTRA = @NGAYTRA
	WHERE IDSACH = @IDSACH AND MADOCGIA = @MADOCGIA AND NGAYMUON = @NGAYMUON
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TRA_TAP_CHI]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_TRA_TAP_CHI]
@MADOCGIA NCHAR(10),
@IDKI INT,
@NGAYTRA DATE
AS
BEGIN
	-- UPDATE LẠI NGÀY TRẢ CỦA CT_MUON_BAO
	UPDATE CT_MUONBAO
	SET NGAYTRA = @NGAYTRA
	WHERE MADOCGIA = @MADOCGIA AND IDKI = @IDKI

	-- UPDATE LẠI LƯỢNG TỒN CỦA TẠP CHÍ TRONG KYXB
	UPDATE KYXB
	SET LUONGTON = LUONGTON + 1 
	WHERE IDKI = @IDKI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KYXB_TAP_CHI]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_KYXB_TAP_CHI]
@IDKI INT
AS
	DELETE FROM KYXB
	WHERE IDKI = @IDKI
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_CT_MUON_BAO]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_CT_MUON_BAO] ON [dbo].[CT_MUONBAO]
INSTEAD OF INSERT
AS 
BEGIN 
	DECLARE @MADOCGIA NCHAR(10)
	DECLARE @IDKI INT
	DECLARE @NGAYMUON DATE
	DECLARE @SONGAY INT

	SELECT @MADOCGIA = MADOCGIA FROM inserted
	SELECT @IDKI = IDKI FROM inserted
	SELECT @NGAYMUON = NGAYMUON FROM inserted
	SELECT @SONGAY = SONGAY FROM inserted

	IF EXISTS(SELECT 1 FROM CT_MUONBAO
			WHERE NGAYMUON = @NGAYMUON AND IDKI = @IDKI AND MADOCGIA = @MADOCGIA)
	BEGIN
		DECLARE @MSG NVARCHAR(200)
		SELECT @MSG = CONCAT(N'Bạn đã mượn tạp chí với id kỳ xuất bản là [', @IDKI, N'] 2 lần trong một ngày! Không thể mượn nữa!') 
		RAISERROR(@MSG, 16, 1)
	END
	ELSE
	BEGIN
		INSERT INTO CT_MUONBAO(MADOCGIA, IDKI, NGAYMUON, NGAYTRA, SONGAY)
		VALUES(@MADOCGIA, @IDKI, @NGAYMUON, NULL, @SONGAY)
	END
END
GO
ALTER TABLE [dbo].[CT_MUONBAO] ENABLE TRIGGER [TRG_INSERT_CT_MUON_BAO]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_CT_MUON_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_CT_MUON_SACH] ON [dbo].[CT_MUONSACH]
INSTEAD OF INSERT
AS
BEGIN

	DECLARE @MADOCGIA NCHAR(10)
	DECLARE @IDSACH INT 
	DECLARE @NGAYMUON DATE
	DECLARE @SONGAY INT

	SELECT @MADOCGIA = MADOCGIA FROM inserted
	SELECT @IDSACH = IDSACH FROM inserted
	SELECT @NGAYMUON = NGAYMUON FROM inserted
	SELECT @SONGAY = SONGAY FROM inserted
	
	
	IF EXISTS(SELECT 1 FROM CT_MUONSACH 
			WHERE NGAYMUON = @NGAYMUON AND IDSACH = @IDSACH AND MADOCGIA = @MADOCGIA)
	BEGIN 
		DECLARE @MSG NVARCHAR(200)
		SELECT @MSG = CONCAT(N'Bạn đã mượn quyển sách id là [', @IDSACH, N'] 2 lần trong một ngày! Không thể mượn nữa!')
		RAISERROR(@MSG, 16, 1)
	END
	ELSE 
	BEGIN
		INSERT INTO CT_MUONSACH(MADOCGIA, IDSACH, NGAYMUON, NGAYTRA, SONGAY)
		VALUES(@MADOCGIA, @IDSACH, @NGAYMUON, NULL, @SONGAY)
	END
END
GO
ALTER TABLE [dbo].[CT_MUONSACH] ENABLE TRIGGER [TRG_INSERT_CT_MUON_SACH]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_CUON_SACH]    Script Date: 10/07/2023 2:02:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_CUON_SACH] ON [dbo].[CUONSACH]
AFTER INSERT
AS
BEGIN
	DECLARE @STT INT
	DECLARE @IDSACH INT
	SELECT @STT = (SELECT MAX(CS.STT) 
					FROM CUONSACH CS, inserted I 
					WHERE CS.IDXB = I.IDXB)
	SELECT @IDSACH = IDSACH
	FROM inserted

	IF @STT IS NULL
	BEGIN
		UPDATE CUONSACH
		SET STT = 1
		WHERE IDSACH = @IDSACH AND IDSACH = (SELECT MAX(IDSACH) FROM CUONSACH)
	END

	ELSE 
	BEGIN
		UPDATE CUONSACH
		SET STT = @STT + 1
		WHERE IDSACH = @IDSACH AND IDSACH = (SELECT MAX(IDSACH) FROM CUONSACH)
	END
END
GO
ALTER TABLE [dbo].[CUONSACH] ENABLE TRIGGER [TRG_INSERT_CUON_SACH]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_DOC_GIA]    Script Date: 10/07/2023 2:02:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_DOC_GIA]
ON [dbo].[DOCGIA]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @MADOCGIA NCHAR(10)
	DECLARE @TEN NVARCHAR(50)
	DECLARE @NGAYCAP DATE
	DECLARE @NGHENGHIEP NVARCHAR(50)
	DECLARE @PHAI BIT
	SELECT @MADOCGIA = MADOCGIA, 
			@TEN = TEN,
			@NGAYCAP = NGAYCAP,
			@NGHENGHIEP = NGHENGHIEP,
			@PHAI = PHAI
	FROM inserted
	IF EXISTS(SELECT MADOCGIA FROM DOCGIA WHERE MADOCGIA = @MADOCGIA)
	BEGIN
		RAISERROR ('Mã độc giả đã tồn tại. Mời bạn nhập lại!', 16, 1)
	
	END
	ELSE
	BEGIN
		INSERT INTO DOCGIA(MADOCGIA, TEN, NGAYCAP, NGHENGHIEP, PHAI) 
		VALUES (@MADOCGIA, @TEN, @NGAYCAP, @NGHENGHIEP, @PHAI)
	END

END
GO
ALTER TABLE [dbo].[DOCGIA] ENABLE TRIGGER [TRG_INSERT_DOC_GIA]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_SACH_1]    Script Date: 10/07/2023 2:02:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_SACH_1]
ON [dbo].[SACH]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @MASACH NCHAR(10)
	DECLARE @NAMPHATHANH DATE
	DECLARE @TENSACH NVARCHAR(50)
	DECLARE @MATL NCHAR(10)
	SELECT @MASACH = MASACH, 
			@TENSACH = TENSACH,
			@NAMPHATHANH = NAMPHATHANH,
			@MATL = MATL
	FROM inserted
	IF EXISTS(SELECT MASACH FROM SACH WHERE MASACH = @MASACH)
	BEGIN
		RAISERROR ('Mã sách đã tồn tại. Mời bạn nhập lại!', 16, 1)
	
	END
	ELSE
	BEGIN
		INSERT INTO SACH(MASACH, TENSACH, NAMPHATHANH, MATL) 
		VALUES (@MASACH, @TENSACH, @NAMPHATHANH, @MATL)
	END

END
GO
ALTER TABLE [dbo].[SACH] ENABLE TRIGGER [TRG_INSERT_SACH_1]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_SACH]    Script Date: 10/07/2023 2:02:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_SACH]
ON [dbo].[TACGIA]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @MATG NCHAR(10)
	DECLARE @TENTG NVARCHAR(50)
	DECLARE @NAMSINH DATE
	
	SELECT @MATG = MATG, 
			@TENTG = TENTG,
			@NAMSINH = NAMSINH
	FROM inserted
	IF EXISTS(SELECT MATG FROM TACGIA WHERE MATG = @MATG)
	BEGIN
		RAISERROR ('Mã tác giả đã tồn tại. Mời bạn nhập lại!', 16, 1)
	
	END
	ELSE
	BEGIN
		INSERT INTO TACGIA(MATG, TENTG, NAMSINH) 
		VALUES (@MATG, @TENTG, @NAMSINH)
	END

END
GO
ALTER TABLE [dbo].[TACGIA] ENABLE TRIGGER [TRG_INSERT_SACH]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DOCGIA"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DOC_GIA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DOC_GIA'
GO
USE [master]
GO
